.toast {
    max-width: inherit !important;
}

.toast-header {
    display: flow-root !important;
}

.nocaret > .dropdown-toggle::before {
    content: none !important;
}

.nocaret > .dropdown-toggle::after {
    content: none !important;
}
